img {
  width: 100%
}

form {
  margin-left : 300px;
  margin-right: 300px;
  margin-top : 50px;
}

#heading {
  text-align: center;
  padding-top : 50px;
}

#msg {
  text-align: center;
}